{% extends 'registration/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-1" style="margin-top: 20px;">
                <h1>Threads</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Thread Name</th>
                            <th scope="col">Category</th>
                            <th scope="col"># Posts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for thread in threads %}
                        <tr class="table-active">
                        <th scope="row"><a href="/thread/{{thread.id}}">{{ thread.name }}</a></th>
                            <td>{{ thread.category.tag }}</td>
                            <td>{{ thread.post_set.all.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}