{% extends 'registration/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px;">
                <h1>Hello {{ full_name }}, welcome to the site</h1>   
                <p>While here, enjoy a talk that I gave a while back about some Machine Learning topics</p>
                <p><iframe width="560" height="315" src="https://www.youtube.com/embed/iy18uBvVnhI?start=282" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></p>
            </div>
        </div>
    </div>
{% endblock %}