{% extends 'registration/base.html' %}

{% block content %}
	<form method="post">
	{% csrf_token %}	
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-4" style="margin-top: 20px;">
                <h1>Sign In</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Username</label>
                <span style="color:red;">{{ form.username.errors }}</span>
                {% if form.username.value is not None %}
                <input type="text" class="form-control" name="username" 
                       value="{{ form.username.value }}"
                       placeholder="Username">
                {% else %}
                <input type="text" class="form-control" name="username" 
                       placeholder="Username">
                {% endif %}
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-md-4">
                <label>Password</label>
                <span style="color:red;">{{ form.password.errors }}</span>
                <input type="password" class="form-control" name="password" 
                       placeholder="Password">
            </div>
        </div>
        <div class="row">
        	<div class="col-md-4" style="margin-top: 20px">
        		<input type="submit" value="Submit" class="btn btn-lg btn-primary">
        	</div>
        </div>
    </div>
{% endblock %}